/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3f9f5;
    color: #333;
}

/* Encabezado */
header {
    background-color: #bceed1;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #45a049;
    color: white;
}

/* Sección de Acerca de */
.about-section {
    padding: 50px 20px;
    text-align: center;
    background: #e0f7f4;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.about-section h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-content {
    max-width: 800px;
    text-align: justify;
}

.text-content h3 {
    color: #4CAF50;
    margin-top: 20px;
    text-align: center;
}

.text-content p,
.text-content ul {
    color: #555;
    line-height: 1.6;
}

.text-content ul {
    padding-left: 20px;
}

.image-content {
    margin: 30px 0;
    max-width: 800px;
}

.image-content img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    object-fit: cover;
}

/* Pie de página */
footer {
    background-color: #bceed1;
    padding: 20px 0;
    text-align: center;
    color: #333;
}

footer p {
    margin: 5px 0;
}
